@layer gerstner.rhythm {
  .g-prose {
    font-size: var(--g-scale-0);
    line-height: var(--g-prose);
    max-inline-size: var(--g-measure);
    text-wrap: pretty;
  }

  @supports (text-box: trim-start cap alphabetic) {
    .g-prose {
      text-box: trim-start cap alphabetic;
    }
  }

  .g-display {
    font-size: var(--g-scale-5);
    line-height: round(up, var(--g-scale-5), var(--g-baseline));
    text-wrap: balance;
  }

  .g-heading {
    font-size: var(--g-scale-3);
    line-height: round(up, var(--g-scale-3), var(--g-baseline));
    text-wrap: balance;
  }

  @supports (text-box: trim-both cap alphabetic) {
    .g-display,
    .g-heading {
      text-box: trim-both cap alphabetic;
      line-height: 1.05;
    }
  }

  .g-ui {
    font-size: var(--g-scale--1);
    line-height: 1;
  }

  .g-tight {
    --g-density: var(--g-density-tight);
  }

  .g-standard {
    --g-density: var(--g-density-standard);
  }

  .g-loose {
    --g-density: var(--g-density-loose);
  }

  .g-stack-1 > * + * {
    margin-block-start: calc(var(--g-rhythm) * 1);
  }

  .g-stack-2 > * + * {
    margin-block-start: calc(var(--g-rhythm) * 2);
  }

  .g-stack-3 > * + * {
    margin-block-start: calc(var(--g-rhythm) * 3);
  }

  .g-stack-4 > * + * {
    margin-block-start: calc(var(--g-rhythm) * 4);
  }

  .g-stack-5 > * + * {
    margin-block-start: calc(var(--g-rhythm) * 5);
  }

  .g-stack-6 > * + * {
    margin-block-start: calc(var(--g-rhythm) * 6);
  }
}
